* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* position: fixed; */
  }
  
nav {
    top:0;
    background-color: #424769;
    padding: 10px;
    text-align: center;
    display: flex ;
    flex-direction: row ;
    justify-content: space-between;
    max-height: 60px;
    
    
}
nav a{ 
    color: #fff ;
    text-decoration: none;
    margin: 0 1rem;
    /* font-family: 'Noto Sans Thai', sans-serif; */
    font-family: 'PT Sans', sans-serif;
}


#wallet {
    border-left: 100px;
    display: flex;
    margin-right: 20px;
    background-color: #ffffff;
    color: #9E2B25;
    padding: 10px;
    border-radius: 12px;
    flex-direction: row;
    height: 100%;
    max-height: 50px;
    max-width:150px;

}
#wallet:hover {
    border-left: 100px;
    display: flex;
    margin-right: 20px;
    background-color: #ffffff;
    color: #FFF8F0;
    padding: 30px;
    border-radius: 12px;
    flex-direction: row;
    height: 100%;
    max-height: 50px;
    max-width:150px;
    transition-duration: 0.3s;
    transition-delay: 0.1s;

}

#wallbox {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    
}
#box{
    margin-right: 30px;
}
#wallet *{
    color: #2D3250;

}
#wallet img{
    width: 100%;
    height: 100%;
}
#walletNprofile{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
#profile {
    display: flex;
    margin-right: 1.1rem;
    align-items: center;
    height: 100%;
}
#profile img{
    /* width: 100%; */
    height: 100%;
}
#burger{
    width: 80% ;
    height: 80%;

}
  
#burger img{
    max-width: 70px ;
    max-height: 30px;
    margin-top: 5px;
}
#navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
}