.registerBG{
  background-color: #FFF8F0;
}

.ant-row{
  margin: 7%;
}


input{
  height:37px;
}

/*-------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------
color 
    Head: #bfcbdb
    Sub: #9aa8b6
    Background: #22272b
*/
.create-team{
  position: fixed;
  inset: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createteam-item{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.create-butt{
  text-decoration: none;
  height: 100px;
  color: #000000;
}

.team-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 75%;
  border-style: solid;
  border-width:thin;
  border-color:  #384148;
  border-radius: 5px;
}

.team-item{
  /* margin-top: 40px; */
  height: 100%;
  width: 50%;
  background-color: #22272b;
  padding: 4rem 5rem 1rem 6rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.inputbar1{
  border: 2px solid #384148;
  border-radius: 3px;
  background-color: #22272b;
  width:100%;
  height: 48px;
  color:#bfcbdb;
  padding: 0px 10px;
}

.inputbar1::placeholder{
  border-radius: 5px;
  width:75%;
  color:#9aa8b6;
}

.team-item h1{
  color: #bfcbdb;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;;
}

.team-item h2{
  color: #bfcbdb;
  font-size: small;
  font-weight:700;
  margin-top: 20px;
  margin-bottom: 5px;
}

.team-item p{
  color: #9aa8b6;
  font-size: 18px;
  font-weight: 400;
}

.team-item sub{
  display: block;
  color: #bfcbdb;
  font-size: 11px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.image-text-container{
  height: 100%;
  width: 50%;
  background-color: #e1f1f7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.text-in-container{
  padding-top: 5px;
  margin-left: 96%;
  height: 5%;
}

.image-container{
  display: flex;
  justify-content: center;
  padding-top: 10%;;
  height: 95%;
}

.image-container img{
  width: 70%;
  height: 80%;
}

.continue-button{
  width: 100%;
  height: 48px;
  background-color: #7ba6e3;
  /* border-color: #789bc9; */
  border-radius: 5px;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
  box-shadow: none;
}

/*-------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------
color 
    Head: #bfcbdb
    Sub: #9aa8b6
    Background: #22272b
*/
.inviteteam-item{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;

}

.invite-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  border-style: solid;
  border-width:thin;
  border-color:  #384148;
  border-radius: 5px;
}

.invite-item{
  /* margin-top: 40px; */
  height: 100%;
  width: 50%;
  background-color: #22272b;
  padding: 4rem 2rem 1rem 2rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.invite-item h1{
  color: #bfcbdb;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;;
}

.invite-item p{
  color: #9aa8b6;
  font-size: 14px;
  font-weight: 400;
}

.invite-item h2{
  color: #bfcbdb;
  font-size: small;
  font-weight:700;
  margin-top: 20px;
  margin-bottom: 5px;
}

.inputbar2{
  overflow-y: auto;
  max-height: 100px;
  border: 2px solid #384148;
  border-radius: 3px;
  background-color: #22272b;
  max-width: 430px;
  height: max-content;
  color:#bfcbdb;
}

.inputbar2:focus{
  border: 1px solid #006aff;
}

.inputbar2::placeholder{
  border-radius: 5px;
  width:10%;
  color:#9aa8b6;
}

.inputbar2 div{
  display: flex;
  align-items: center;
  border-radius: 999px;
  padding: 8px;
  margin: 8px 4px;
  color: #bfcbdb;
  background-color:#2c3339;
}

.inputbar2 p{
  margin-top: -3.5px;
  margin-left: 3px;
}

.inputbar2 button{
  margin-left: 9px;
  border: transparent;
  background: none;
  color:#bfcbdb;
}

.inputbar2 button:hover{
  margin-left: 9px;
  border: transparent;
  background: none;
  color:#7ba6e3;
}

.inputusername{
  flex-grow: 1;
  height:48px;
  padding: 0px 10px;
  color:#9aa8b6;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
}

.inputusername:focus{
  outline: none;
  background: none;
}


.listuser{
  margin-bottom: 3px;
}

.listuser:hover{
  margin-bottom: 3px;
  background-color: #575757;
}

.sub-container{
  display: flex;
  margin-top: 8px;
  margin-bottom: 30px;
}

.pro-tip{
  color: #bfcbdb;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

.pro-main{
  color: #bfcbdb;
  font-size: 14px;
}

.create-button{
  width: 100%;
  height: 48px;
  background-color: #7ba6e3;
  /* border-color: #789bc9; */
  border-radius: 5px;
  font-size: 14px;
  font-weight:600;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
  color: #333;
}

.mid-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.later-text{
  font-size: 14px;
  color: #bfcbdb;
}

.maybe-thisguy{
  border: 0.5px solid #bfcbdb;
  background-color: #575757;
}

.invite-item table:not(:empty){
  display: block;
  position: absolute;
  z-index: 1;
  background-color: #22272b;
  overflow-y: scroll;
  margin-top: 5px;
  border: 0.1px solid #bfcbdb;
  border-radius: 3px;
  width:30.9%;
  max-height: 23.4% ;
  padding: 5px 10px 10px 5px;

}

::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9aa8b6; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bfcbdb; 
}


/*-------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------

}
*/


