.content_payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 80%;
  height: 86vh;
  background-color:  rgb(255 255 255);
  border-radius: 16px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 0px 50px rgba(9,9,121,100);
}


.Header-in_content_payment {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  background-color: rgb(255 255 255);
}

.Header-Text-in_content_payment {
  color: rgb(15 23 42);;
  justify-content: center;
}

.content-in_content_payment {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  min-width: 196px;
  min-height: 538px;
  background-color: rgb(255 255 255);
}

/* ============================================== */

/* Card */

.Card-info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 24%;
  min-width: 282px;
  height: 90%;
  background-color: rgb(15 23 42);
  border-radius: 16px;
  
  
}

.Card-info_price {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.Card-info_ability {
  padding-bottom: 8px;
  height: 275px;
}
.Card-info_button_Space {
  display: flex;
  position: relative;
  justify-content: center;
}
.Card-info_button {
  justify-content: center;
  text-align: center;
  width: 10vw;
  height: 5vh;
  background-color: aqua;
  border-radius: 10px;
  padding: 5px;
}
.Card-info_button:hover {
  cursor: pointer;
}
/* ============================================== */

/* modal */
.ant-modal-content{
  margin: 0;
  top: 0;
}
.ant-modal-content-area {
  height: 80vh;
  padding: 10px 10px 10px 10px;
}
.ant-modal-body-area {
  height: 80vh;
  
  position: relative;
}
.Modal-Payment-Content {
  display: flex;
  flex-direction: row;
  position: relative;
}

/* Modal-Payment-selectPaymentType */
.Modal-Payment-selectPaymentType {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 80vh;
  padding: 10px;
}

.Modal-PaymentType-button:hover {
  cursor: pointer;
}

/* Modal-Payment-InputForm */
.Modal-Payment-InputForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80vh;
  min-width: 315px;
  padding: 10px;
}
.Modal-Payment-InputForm-inputTotalPrice {
  border: none;
  border-radius: 24px;
  border-color: #3d3d3d;
  padding: 10px;
}
.Modal-Payment-InputForm-inputDate {
  border: none;
  border-radius: 24px;
  padding: 10px;
}
.Modal-Payment-InputForm-inputNote {
  border: none;
  border-radius: 24px;
  padding: 10px;
}
.Modal-Payment-InputForm-inputImage {
}

.Modal-Payment-InputForm-ImageArea {
  display: flex;
  justify-content: center;
}

/* Modal-Payment-total */
.Modal-Payment-total {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 200px;
  height: 80vh;
  padding: 10px;
}
.Modal-Payment-total-Top {
  display: flex;
  
  height: 5vh;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.Modal-Payment-total-Top-labelTopic {
  display: flex;
  text-align: center;
  align-items: center;
}

.Modal-Payment-total-Middle {
  display: flex;
  flex-direction: row;
  height: 55vh;
  
  padding: 10px;
}

.Modal-Payment-total-2rdMiddle {
  display: flex;
  flex-direction: row;
  height: 10vh;
  
  align-items: center;
  padding: 10px;

}



.Modal-Payment-total-bottom {
  display: flex;
  height: 10vh;
  
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.Modal-Payment-total-cancelButton{
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: none;
  margin-right: 2vw;
  text-align: center;
}
.Modal-Payment-total-confirmButton {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: none;
  text-align: center;
}
